:root {
    -webkit-text-fill-color: black;
    --link-color: #afdef0;
    --backhground-color: #d7e6ee;
}

body {
    /* background: radial-gradient(circle, #afdef0, #ece4ee); */
    background-size: 300% 300%;
	animation: gradient 13s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    scroll-behavior: smooth; 
}

body{
    font-family: 'Arima', sans-serif;
    background-color: var(--backhground-color);
    padding-bottom: 10px;
}

a {
color: var(--link-color);
text-decoration: none;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0 50px;
  }

  .nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}
/* Dropdown wrapper */
.dropdown {
    position: relative;
  }
  
  /* Hide dropdown by default */
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #bbdcef;
    padding: 0.75rem 0;
    display: none;
    flex-direction: column;
    min-width: 180px;
    box-shadow: 0 8px 17px #030303;
    z-index: 1000;
  }
  
  /* Show dropdown when hovering EITHER the link or menu */
  .dropdown:hover .dropdown-menu {
    display: flex;
  }
  
  /* Dropdown links */
  .dropdown-menu a {
    padding: 0.6rem 1.2rem;
    text-decoration: none;
    color: black;
    white-space: nowrap;
  }
  
  .dropdown-menu a:hover {
    background-color: #7db3d2;
  }
   
 .home-hero {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .subtitle {
    font-size: 1.2rem;
    color: #777;
    margin-bottom: 0.5rem;
  }
  
  .name-title {
    font-size: 8rem;
    font-weight: 700;
    margin: 0;
  }

/* About me */
.about-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
}

.about-section .text{
    flex: 5;
    font-size: 20px;
}

.about-section .text h2{
    font-size: 38px;
}
.about-text p:last-of-type {
    margin-bottom: 2.5rem; /* adjust as needed */
  }

.about-text p {
    line-height: 1.6;
    margin-bottom: 1.25rem;
  }

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.about-content {
    flex: 1;
}
  
.site-footer {
    padding-top: 8rem;
    text-align: right;
    /* padding-left: 2rem; */
    padding-right: 2rem;
  }
  
.site-footer p {
    font-size: 10px;
    color: #666;
    letter-spacing: 0.03em;
  }

.about-section .text .links{
    margin-top: 30px;
}

.about-section .text .links a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
    color: black;
}

.about-section .text .links a:hover{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
    color: var(--link-color);
}

.about-section .headshot{
    flex: 2;
    display: flex;
    justify-content: right;
    margin-top: 68px;
}

.about-section .headshot img{
    width: 320px;
    border-radius: 20%;
    object-fit: contain;
}

/* My Projects */ 

.project-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    max-width: 1000px;
}
.project-section h2{
    font-size: 60px;
    text-align: center;
    margin-left: 250px;
    width: 100%;
    margin-top: 10px;
}

.project-section .group {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.project-section .group .person-details {
    text-align: left;
    flex: 2;
}  


.project-row2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    padding-left: 67px;
    margin: 40px 0;
}

.project-row2 img {
    object-fit: contain;
    height: 310px;
    margin: 0;
    padding: 0;
    border-radius: 10px;

}
.project-row3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    padding-left: 67px;
    margin: 40px 0;

}
.project-images {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 18px;
}

.project-images img {
    object-fit: contain;
    height: 310px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

.project-text2 h2 {
    /* margin-bottom: 10px; */
    /* margin-left: 3%; */
    font-size: 40px;
    margin: 0 0 10px 0; 
}

.project-text2 p {
    /* margin-left: 70px; */
    margin: 0 0 10px 0; 
}

.project-text2 {
        padding: 15px 300px;
        background-color: #ecd5e0;
        border-radius: 12px;
        padding: 15px;
        margin-left: 60px;
}

.project-text3 h2 {
    /* margin-bottom: 10px; */
    /* margin-left: 3%; */
    font-size: 40px;
    margin: 0 0 10px 0; 
}

.project-text3 p{
    /* margin-left: 70px; */
    margin: 0 0 10px 0; 
}

.project-text3 {
    padding: 15px 300px;
    background-color: #aadbd1;
    border-radius: 12px;
    padding: 15px;
    margin-left: 60px;
}

.project-row4 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    padding-left: 67px;
    margin: 40px 0;
    flex-wrap: nowrap;        
    width: 100%; 
}

.project-row4 img {
    object-fit: contain;
    height: 256px;
    width: auto;             
    border-radius: 10px;
}

.project-text4 h2 {
    font-size: 40px;
    margin: 0 0 10px 0;  
}
.project-text4 p{
    margin: 0 0 10px 0;  
}

.project-text4 {
    padding: 15px 300px;
    background-color: #e3d7af;
    border-radius: 12px;
    padding: 15px;
    margin-left: 50px;
}
.project-link {
    text-decoration: none;
    color: inherit;
    display: block;
}
.project-row2{
    cursor: pointer; 
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.project-row2:hover{
    transform: translateY(-6px);
    box-shadow: 0 10px 24px rgba(0,0,0,0.15);
}
.project-row2 img{
    transition: transform 0.25s ease;
}
.project-row2:hover img{
    transform: scale(1.03);
}
.project-row3{
    cursor: pointer; 
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.project-row3:hover{
    transform: translateY(-6px);
    box-shadow: 0 10px 24px rgba(0,0,0,0.15);
}
.project-row3 img{
    transition: transform 0.25s ease;
}
.project-row3:hover img{
    transform: scale(1.03);
}
.project-row4{
    cursor: pointer; 
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.project-row4:hover{
    transform: translateY(-6px);
    box-shadow: 0 10px 24px rgba(0,0,0,0.15);
}
.project-row4 img{
    transition: transform 0.25s ease;
}
.project-row4:hover img{
    transform: scale(1.03);
}

.about-text h2 {
 font-size: 61px;
}

/* Contact */
.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
    margin-top: 170px;
}

.contact-section h2{
    font-size: 38px;
    margin-bottom: 20px;
}
.contact-section .group {
    display: flex;
    justify-content: center;
}

.contact-section .group form{
    flex: 3;
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
    max-width: 550px;
    margin-top: 10px;
}

.contact-section .group form input,
.contact-section .group form textarea {
    font-family: 'Arima', sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}

.contact-section .group form button {
    font-size: 20px;
    color:#eeeff1;
    background-color: var(--link-color);
    border: none; 
    height: 50px;
    cursor: pointer; 
    transition: .1s;
}

.contact-section .group form button:hover {
    filter: brightness(.9);
}  */

.contact-bubble {
    font-family: 'Arima', sans-serif;
    border: 2px solid var(--link-color);
    color: var(--text-color);
    padding: 25px 40px;
    border-radius: 999px;
    text-decoration: none;
    font-size: 20px;
    margin: 0 15px;
    transition: all 0.25s ease;
  }
  
  .contact-bubble:hover {
    background-color: var(--link-color);
    color: #eeeff1;
    transform: translateY(-4px) scale(1.05);
  }

/* =========================
   PROJECT CASE STUDY PAGE
========================= */

.project-page {
    padding-top: 120px;
}

/* crowdy! Hero */
.project-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-right: 350px;
    padding-left: 350px;
}

.project-hero h1 {
    font-size: 170%;
}

.project-subtitle {
    font-size: 190%;
    color: #555;
    max-width: 420px;
    margin: 0;
    text-align: left;
    
}

/* Body */
.project-body {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

/* Info boxes (reuse your style language) */
.project-info-boxx {
    border-radius: 12px;
    padding: 15px;
}

.project-info-boxx h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.project-info-boxx p {
    font-size: 18px;
    margin:  0;
}

/* Images */
.project-images-case {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    justify-content: right;
    position: relative;
    right: 110px;
  
}
.project-images-case img {
    height: 320px;
    object-fit: contain;
    border-radius: 12px;
    margin-top: -197px;
  
}
.project-images-case img{
    transition: transform 0.25s ease;
}
.project-images-case:hover img{
    transform: scale(1.03);
}

.project-images-qa {
    display: flex;
    margin-top: -30px;  
    gap: 20px;
    justify-content: center;
  }
  
  .project-images-qa img {
    width: auto; 
    height: 440px;
    border-radius: 12px;
    object-fit: contain;
  }

  .project-images-qa img{
    transition: transform 0.25s ease;
}
.project-images-qa:hover img{
    transform: scale(1.03);
}

.project-info-grid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    max-width: 1200px;  
    margin: 2rem auto;  
    padding: 0 2rem; 
    margin-top: 10px;
  }

  .project-info-box:hover {
    border-color: #e3d7af;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
  }
  
  .project-info-box {
  padding: 1.5rem;
  border-radius: 12px;
  border: 1.5px solid #618699; 
  background: transparent;
  }

  @media (max-width: 900px) {
    .project-info-grid1 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 500px) {
    .project-info-grid1 {
      grid-template-columns: 1fr;
    }
  }
  
/* bentobuddy Hero */
.project-hero1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    padding: 0 120px;

    padding-right: 390px;
    padding-left: 390px;
}
.hero1-content{
    flex: 1;
    max-width: 45%;
}

.project-hero1 h1 {
    font-size: 160%;
}

.project-subtitle1 {
    font-size: 190%;
    color: #555;
    max-width: 420px;
    margin: 0;
    text-align: left;
    
}

.project-body1 {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.project-info-box1 {
    border-radius: 12px;
    padding: 15px;
}

.project-info-box1 h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.project-info-box1 p {
    font-size: 18px;
}

/* Images */
.project-images-case1 {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    padding-left: 450px
  
}
.project-images-case1 img {
    height: 320px;
    object-fit: contain;
    border-radius: 12px;
    margin-top: -220px;
  
}
.project-images-case1 img{
    transition: transform 0.25s ease;
}
.project-images-case1:hover img{
    transform: scale(1.03);
}
.project-images-low {
    display: flex;
    gap: 20px;          
    margin-top: 60px;
    flex-wrap: wrap;
  }
  
.project-images-low img {
    width: 100%;       
    max-width: 320px;  
    height: auto;
    border-radius: 12px;
    transition: transform 0.25s ease;
    margin-top: -90px;
    
 }
 .project-images-low img{
    transition: transform 0.25s ease;
}
.project-images-low:hover img{
    transform: scale(1.03);
}

/* paintpals */
/* Hero */
.project-hero2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    padding: 0 120px;

    padding-right: 400px;
    padding-left: 400px;
}
.hero2-content{
    flex: 1;
    max-width: 45%;
}

.project-hero2 h1 {
    font-size: 160%;
}

.project-subtitle2 {
    font-size: 190%;
    color: #555;
    max-width: 420px;
    margin: 0;
    text-align: left;
    
}

.project-body2 {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.project-info-box2 {
    border-radius: 12px;
    padding: 15px;
}

.project-info-box2 h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.project-info-box p {
    font-size: 18px;
}

.project-info-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    max-width: 1200px;  
    margin: 2rem auto;  
    padding: 0 2rem; 
    margin-top: 80px;
  }

  .project-info-box3:hover {
    border-color: #e3d7af;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
  }
  
  .project-info-box3 {
    padding: 1.5rem;
  border-radius: 12px;
  border: 1.5px solid #618699; 
  background: transparent;
  }

  @media (max-width: 900px) {
    .project-info-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 500px) {
    .project-info-grid {
      grid-template-columns: 1fr;
    }
  }

  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 4rem 0;
  }
  
  .carousel-track-container {
    overflow: hidden;
    width: 70%;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.4s ease;
  }
  
  .carousel-slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .carousel-slide img {
    max-width: 100%;
    border-radius: 16px;
  }
  
  /* Buttons */
  .carousel-btn {
    background: none;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    color: #333;
  }
  
  .carousel-btn:hover {
    opacity: 0.6;
  }

  .project-images-case2 {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    padding-left: 450px
  
}
.project-images-case2 img {
    height: 320px;
    object-fit: contain;
    border-radius: 12px;
    margin-top: -210px;
  
}
.project-images-case2 img{
    transition: transform 0.25s ease;
}
.project-images-case2:hover img{
    transform: scale(1.03);
}

.carousel1 {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin: 0;
  }
  
  .carousel-track-container1 {
    width: 230px;
    overflow: hidden;
  }

  .carousel-track1 {
    display: flex;
    transition: transform 0.4s ease;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .carousel-slide1 {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  .carousel-slide1 img {
    max-width: 400px;
    border-radius: 12px;
    height: 400px;;
    display: block;
  }

  @media (max-width: 900px) {
    .project-hero1 {
      flex-direction: column;
      text-align: center;
    }
  
    .carousel-track-container1 {
      width: 100%;
    }
  }
    